* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    margin: 21px 24px 24px;
}




/* Hero-section */
.hero-section {
    height: 100vh;
    width: 100%;
    background-color: #EAECF9;
}

.hero-section-container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start; 
}

/* Header*/
.hero-section-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hero-section-header-text1 {
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:#000
}
.hero-section-header-text1-span {
    color: #A8B4FF;
}

.hero-section-header-text2 {
    display: flex;
    column-gap: 49px;

    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color:#000;
}

.hero-section-header-text-shaded {
    position: relative;
    z-index: 1;
}
.hero-section-header-text-shaded::after {
    content: "";
    background: #A8B4FF;
    width: 100%;
    height: 47%;
    position: absolute;
    bottom: 1px;
    left: 2px;
    z-index: -1;
}

/* Main */
.main-col-1 {
    width: 50%;
}

h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 1.124;
}

.main-h1-shaded-1 {
    position: relative;
    z-index: 1;
}
.main-h1-shaded-1::after {
    content: "";
    background: #A8B4FF;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 9px;
    left: 0;
    z-index: -1;
}

.main-h1-shaded-2 {
    position: relative;
    z-index: 1;
}
.main-h1-shaded-2::after {
    content: "";
    background: #A8B4FF;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 9px;
    left: 3px;
    z-index: -1;
}

.hero-section-main-text {
    margin: 27px 0 64px;
}

p { 
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
}
/* Button */
.primary-btn {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    padding: auto;
    position: relative;
    border: none;
    transition: 0.3s;
    width: 201px;
    height: 59px;
}
.primary-btn:hover {
    transform: translate(8px, 8px);
}

.primary-btn::after {
    content: "";
    border: 3px solid #000;
    width: 97%;
    height: 90%;
    position: absolute;
    bottom: -8px;
    right: -8px;
    transition: 0.3s;
}
.primary-btn:hover::after {
    transform: translate(-8px, -8px);
}

/* Footer*/ 
.hero-section-footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.hero-section-footer-text {
    border-bottom: 2px solid #000;
    padding: 0 46px 23px 0;
    transform: rotate(90deg);

    font-family: "Mulish", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #000;
}









/* Section-2_3 */
.section-2_3 {
    height: 100vh;
    width: 100%;
    background-color: #FAFAFA;
}

.section-2_3-container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    align-items: center; 
}

/* Main */
.section-2_3-main {
    display: flex;
    width: 100%;
}

/* Main-col-1 */
h3 {
    font-family: "Mulish", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    color: #B7B4B9;

}

.section-3-h1-margin {
    margin: 8px 0 20px;
}

.section-2_3-subtitle {
    display: flex;
    width: 100%;
    column-gap: 16px;
}

.section-2_3-subtitle-box {
    background: #A8B4FF;
    padding: 6px 10px;
    font-family: "Mulish", sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.section-2_3-main-text {
    margin: 32px 0 64px;
}

/* Main-col-2 */
.main-col-2 {
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 0 0 auto;
    z-index: 1;
}

.section-2_3-img1 {
    position: relative;
    z-index: 2;
}

.section-2_3-img2 {
    position: absolute;
    bottom: -21px;
    left: -21px;
    z-index: 1;
}

.section-2_3-img3 {
    position: absolute;
    bottom: -21px;
    right: 0;
    z-index: 1;
}









/* Section-4 */
.section-4 {
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
    padding: 50px 0 150px;
}

/* Main-col-1 */
.main-h1-shaded-3 {
    position: relative;
    z-index: 1;
}
.main-h1-shaded-3:after {
    content: "";
    background: #A8B4FF;
    width: 104%;
    height: 40%;
    position: absolute;
    bottom: 9px;
    left: -1px;
    z-index: -1;
}

/* Main-col-2 */
.section-4-main-col-2 {
    width: 50%;
}

h2 {
    font-family: "Mulish", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.section-4-main-text {
    margin: 9px 0 24px;
}

.section-4-subtext {
    display: flex;
    width: 100%;
    column-gap: 16px;
}

.section-4-subtext-box {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
}









/* Section-5 */
.section-5 {
    height: 100%;
    width: 100%;
    background-color: #EAECF9;
}

/* Main-col-1 */
.main-h1-shaded-4 {
    position: relative;
    z-index: 1;
}
.main-h1-shaded-4:after {
    content: "";
    background: #A8B4FF;
    width: 88%;
    height: 37%;
    position: absolute;
    bottom: 5px;
    left: 6px;
    z-index: -1;
}

/* Main-col-2 */
.section-5 p {
    padding-top: 10px;
}

.main-h1-shaded-5 {
    position: relative;
    z-index: 1;
}
.main-h1-shaded-5:after {
    content: "";
    background: #A8B4FF;
    width: 100%;
    height: 55%;
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: -1;
}
/* Footer */
.section-5 footer {
    padding: 150px 0 0;
    font-family: "Mulish", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.50);
}
